@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/GillSans Condensed.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Italic.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Light.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Light Italic.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 500;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Medium Italic.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/GillSans Condensed Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Bold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Gill Sans';
    font-style: italic;
    font-weight: 900;
    src: local('Gill Sans'), url('https://fonts.cdnfonts.com/s/58185/Gill Sans Heavy Italic.woff') format('woff');
}


