<!doctype html>
<html lang="{{ metadata.language }}">
<head>
{% include "partials/seo.njk" %}
</head>
<body>
<a href="#maincontent" class="skip-link">Skip to main content</a>
<main class="fullwidth" id="maincontent">
{{content | safe}}
</main>
{% include "partials/footer.njk" %}
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>
