<footer>
<p class="text-center text-small">{{metadata.footer.text1}} <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a> {{metadata.footer.text2}} <a href="{{metadata.footer.text3_url}}">{{metadata.footer.text3}}</a></p>
</footer>
