<navbar class="navbar pt-5">
<input id="menu01" type="checkbox" name="menu" />
<label for="menu01" class="dropbtn buttonis-nav" aria-labelledby="menus">
<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
<title>Menu</title></svg>
</label>
<div class="submenu dropdown-content">
{% for n in metadata.navbar %}<a href="{{n.url}}">{{n.nav}}</a>{% endfor %}
</div>
</navbar>
<style>input, div.submenu {  display: none;} label {  position: relative;  display: block;  cursor: pointer;}li.submenu {  list-style-type: none;}input:checked~div.submenu {  display: block;{  list-style-type: none;}}</style>
